.text-mono
  font-family: monospace

// Helpers
.flex-1-1-auto
  flex: 1 1 auto !important

.flex-1-0-auto
  flex: 1 0 auto !important

.flex-0-1-auto
  flex: 0 1 auto !important

.flex-0-0-auto
  flex: 0 0 auto !important

.position-relative
  position: relative !important

.overflow-y-scroll
  overflow-y: scroll

table
  > thead > tr > th,
  > tbody > tr > td
    font-weight: 300 !important
    font-size: small !important
    padding: 8px 16px !important

.v-btn
  text-transform: none !important

a.action-link
  text-decoration: underline !important
  color: #3F51B5 !important
  display: block !important

a.action-link:hover
  text-decoration: none !important
  color: #FB8C00 !important
