bin
target

# Eclipse
.classpath
.project
.settings

# IDEA
.idea
*.iml

#wfe-web/src/main/webapp/WEB-INF/wf.tld
wfe-web/src/main/webapp/WEB-INF/classes/struts_en.properties
wfe-webservice-client/src/main/

# For those who don't like `mvn package` deploying to server:
wfe-ear/${jboss.home.dir}
