       	@charset "utf-8";
       	.tableModalNameSetMessage tr{
       	border-bottom: 1px solid gray;
       	}
       
       	.modalSetting{
       	display:none;
		    position: absolute;
		    background-color: white;
    margin: -350px 350px;
		    padding: 5px;
		    
    border: 1px solid darkgray;
       	}
       	
       	.modalHeaderSetting{
		    padding: 0 3px;
    width: 520px;
		    height: 40px;
		    
    border-bottom: 1px solid darkgray;
       	}
       	
       	.modalBodySetting{ 	
		    padding-top: 10px;
		    
    border-bottom: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
		    width: 520px;
		    height: 460px;
       	}
       	
       	.modalBodySetting table{
    width: inherit;
       	}
       	.modalBodySetting table tbody{
    width: 100%;
       	}
       	.modalBodySetting table tr{ 	
       	
    	border: 1px solid darkgray;
       	}
       	.modalBodySetting table tr td{ 	
       	
    	border: 1px solid darkgray;
       	}
       	
       	
       	.modalFooterSetting{
       	
       	padding:0 3px;
       	padding-top:10px;
       	 width: 120px;
       	 height: 20px;
       	}
       	
       	#message{
            font-weight: bold;
            border: none;
            cursor: pointer;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 8pt; /*     */
        	resize: none;
        	display: block;
        	width: 95%;
					height: 95%;
					
    			min-height: 50px;
        }
        .countNewMessages{/* -  */
        	width: max-content;
    		background: #5aff7f;
    		text-decoration: underline;
    		font-family: inherit;
    		display: -webkit-inline-box;
    		font-weight: 600;
    		font-size: 10pt;
        }
        
        .newMessagesIndicator{/*      */
        
  			border: 1px solid #990000;
    		width: max-content;
    		float: inherit;
    		background: #d4ebff;
        }
        .modal {
            display: none; /*    */
            position: absolute;  /*Stay in place */
            /*z-index: 1;  Sit on top */
            padding-top: 480px; /* Location of the box */
            left: 0;
            top: 0;
            padding-left:20%;
            width: 100vw; /* Full width */
            height: 100vh; /* Full height */
            overflow: auto; /* Enable scroll if needed */ 
        }
        
       
        .quote{
        	outline: 1px solid #5c5c60;
        	background: rgba(114, 120, 122, 0.15);
        	background-size:auto;
        	background-origin:padding-box;
        	padding: 7px;
        	border: 1px solid rgba(0, 37, 97, 0);
        	border-bottom-style: solid; /*    */
       	 	overflow: hidden;
        	border-width: 3px 7px 7px 4px; /*   */
        	width:max-content;
        }
        .author{
           	background-color: #ff9999;
    		color: #000000;
    		width: min-content;
    		white-space: nowrap;
    		float: none;
    		border: 2px solid #990000;
    		border-radius: 8px;
    		padding-right: 3px;
    		padding-bottom: 2px;
    		padding-left: 3px;
        }
        .selectionTextAdditional{
        	background: rgba(178, 178, 181, 0.48);
        	background-size:auto;
        	padding: 7px;
        	border-bottom:solid 1px;
        	text-decoration: underline;
        	border-bottom-color: #804040; /*    */
        	overflow: hidden;
        }
        .openHierarchy{
        	font-weight: 600;
        	padding: 8px;
        	color: #000080;
        	text-decoration: none; /*     */
        }
        .openHierarchy:visited {
        	color: #804040; /*    */
        } 
        .openHierarchy:hover {
        	color: #0080c0; /*         */  
        	text-decoration: underline; /*   */
        }
        .selectionTextQuote{
        	background: rgba(178, 178, 194, 0.35);
        	background-size:auto;
        	background-origin:padding-box;
        	padding: 7px;
        	border: 1px solid rgba(104, 22, 25, 0.27);
        	border-bottom-style: solid; /*    */
        	border-bottom-color: #515050; /*    */
        	overflow: hidden;
        	border-width: 2px 4px 2px 4px; /*   */
        	margin-bottom: 5px;
        }
        .addReply , .deleterMessage{
        	font-weight: 600;
        	padding: 8px;
        	color: blue;
        	color: #000080; /*    */ 
        	text-decoration: none; /*     */
        }
        .addReply , .deleterMessage:visited {
        	color: #000080; /*    */
        } 
        .addReply , .deleterMessage:hover {
        	color: #0080c0; /*         */  
        	text-decoration: underline; /*   */
        }
        .modal-content {
            position: absolute;
            background-color: #e9eaed;
            margin: auto;
            padding: 0;
            border: 5px solid #e9eaed;
            width: 30vw;
            height: 40vh;

            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        #close {
            float: right;
            font-weight: bold;
            font-size: larger;
       	 	color: rgb(68,68,68);
        	border: 1px solid rgba(0,0,0,.1); 
    		height: 22px;
        }

     	#close:hover{
	 		color: rgb(24,24,24);
  			border: 1px solid rgb(198,198,198);
  			background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  			box-shadow: 0 1px 2px rgba(0,0,0,.1);
		}

        .modal-header {
            padding: 2px 16px;
            background-color: #e9eaed;
            color: white;
            height: 25px;
            font-size: 11pt;
            resize: horizontal;
        }
        .modal-header-dragg {
        	outline: none;
        	padding: 5px 50px;
            position: fixed;
            background-color: #ffffff00;
            left: 40px;
            cursor: move;
    		width: 150px;
            height: 20px;
            padding-right: 10px;
            padding-left: 20px;
            resize: horizontal;
        }
        .modal-body {
         	overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
            padding: 2px 16px;
            background-color: #e1e2e5;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 0.67rem; /*     */
            height: 390px; /*   */
            overflow: scroll; /*    */
            border: 1px solid #333; /*   */
            font-weight: 590;
            font-style:normal;
            word-break: break-word;/*     */
            scroll-behavior: smooth;     
        }
         @media (min-width:500px){
        	.modal-body{
        		font-size: 0.77rem;
        	}
        }
        @media (min-width:100px){
        	.modal-body{
        		font-size: 0.67rem;
        	}
        }
        .hr-dashed-vertical{
       	    border-left:2px dashed #808080;
       	    padding-left:7px;
       	    width:max-content;
			}
        .hr-dashed{
        	margin: 3px 0;
    		padding: 0;
    		height: 0;
    		border: none;
    		border-top: 2px dashed #808080;
        }
        .modal-footer {
        	position:relative;
            padding: 2px 16px;
            background-color: #e9eaed;
            color: white;
            resize: horizontal;
            
            
        }
        #btnOp {
        	float:left;
        	color: rgb(68,68,68);
        	border: 1px solid rgba(0,0,0,.1);       
        	height: 22px;
        }
        #btnOp:hover {
  			color: rgb(24,24,24);
  			border: 1px solid rgb(198,198,198);
  			background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  			box-shadow: 0 1px 2px rgba(0,0,0,.1);
		}
		.modalBlocker{
			top: 0;
    		left: 0;
    		position: fixed;
    		min-height: 100%;
   		 	min-width: 100%;
    		background-color: rgba(0, 0, 0, 0.5);
    		z-index: 99;
		}
		.show-modal{
			opacity: 1;
    		visibility: visible;
    		transform: scale(1.0);
    		transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
		}
		#attachedArea{
		
		height:70px;
    	margin-left: 15px;
    	width: 87.5%;
    overflow: scroll;
   	border: 1px solid black;
   	margin-top: 5px;
		}
		.btnFileChat{
		padding-left: 5px;
		}
		#attachedArea #filesTable tbody tr td{
		 	white-space: nowrap; /*    */
    		overflow: hidden; /*   */
    		width: 380px;
		}
		
		.selectionTextQuote .fileHolder tr td table tbody tr td a{
			color: brown;
			padding: 1px 6px;
		}
		
		
		.selectionTextQuote .fileHolder tr td table tbody tr td{		
			max-width: 90%;
		    white-space: nowrap;
		    overflow: hidden;		
		}
		.dropZ{
		position: absolute;
		width: 100%;
		z-index: -10000;
		display: none;		
		
    margin-left: 16px;
	}
		.dropZActive{
		position: absolute;
    width: 95%;
		height: 55%;
    background-color: #80808082;
		color:black;
		
    margin-top: 22px;
		z-index: 10000;
		display: block;	
		
    font-size: 20px;
    text-align: center;
    	}
		.dropZActiveFocus{
		position: absolute;
		width: 95%;
		height: 55%;
		background-color:green;
		color:black;
		z-index: 10000;
		display: block;		}
		
		
		.messageText a:link{
			color: #497DDD; 
  
		}
		.messageText a:visited{
			color: #ff0000; 
		}

	.modal-footer .messageUserMention {
    position: absolute;
    margin-bottom: 20px;
    margin-top: -18.1%;
    padding: 5px 20px 5px 5px;
    width: 212px;
		height: 50px;
    overflow-y: scroll;
    background-color: #dcdcdcf0;
		display: none;
		
    border: 2px solid brown;
}
	.tableModalNameSetMessage{
	
    padding: 0px 0px;
	}
	.tableModalNameSetMessage .list{
	color: #482b2b;
	background-color: #ff9999;
	padding: 4px 80px 5px 5px;
	overflow: hidden;
	width: 120px;
	border-bottom: 1px solid red;
	border-top: 1px solid red;
	margin-bottom: 10px;
	font-weight: 800;
}
.tableModalNameSetMessage .list:hover{
	color: #482b2b;
	background-color: #fdaeae;
	cursor: pointer;
}
.tableModalNameSetMessage li.selected{
	color: #482b2b;
	background-color: #fdaeae;
	
}
input[type=file] {
 cursor: pointer;
    width: 150px;
    height: 22px;
    overflow: hidden;
    display: block;
    margin-left:10px;
}

input[type=file]:before {
width: 119px;
    height: 20px;
    font-size: 12px;
    line-height: 25px;
    content: 'Выбрать файлы';
    display: inline-block;
    background: white;
    border: 1px solid #000;
    padding: 0 10px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

.tableModalNameSetMessage .selected {
    color: #482b2b;
    background-color: #ffb8b8;
	padding: 4px 80px 5px 5px;
    overflow: hidden;
    width: 120px;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    margin-bottom: 10px;
    font-weight: 800;
}
#progressBar{
	top: 0;
    height: 100%;
    position: absolute;
    width: 88%;
    background: gray;
    text-align: center;
    font-size: 15pt;
}


/*ToDo*/
#messReplyTable {
	position: absolute;
	display: block;
	/*background: #555 url('http://katushka.in.ua/templates/katushka2/images/ajax-loader.gif') center center no-repeat;*/
	opacity: 0.7;
	width: 100%;
	height: 100%;
}

.image {
    width: 300px;
    height: 200px;
}