        #openChatButton{}
      	#message{
            font-weight: bold;
            border: none;
            cursor: pointer;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 8pt; /* Размер шрифта в пунктах */
        	resize: none;
        	display: block;
        	width: 80%;
        	height: 90%;
        }
        .modal {
            display: none; /* скрыто по умолчанию */
            position: absolute;  /*Stay in place */
            /*z-index: 1;  Sit on top */
            padding-top: 480px; /* Location of the box */
            left: 0;
            top: 0;
            padding-left:20%;
            width: 100vw; /* Full width */
            height: 100vh; /* Full height */
            overflow: auto; /* Enable scroll if needed */ 
        }
        
       
        .quote{
        	outline: 1px solid #5c5c60;
        	background: rgba(114, 120, 122, 0.15);
        	background-size:auto;
        	background-origin:padding-box;
        	padding: 7px;
        	border: 1px solid rgba(0, 37, 97, 0);
        	border-bottom-style: solid; /* Стиль линии внизу */
       	 	overflow: hidden;
        	border-width: 3px 7px 7px 4px; /* Толщина границы */
        	width:max-content;
        }
        .author{
           	    background-color: #990000;
    			color: #ffffff;
    			width: max-content;
    			white-space: nowrap;
    			float: left
        }
        .selectionTextAdditional{
        	background: rgba(178, 178, 181, 0.48);
        	background-size:auto;
        	padding: 7px;
        	border-bottom:solid 1px;
        	text-decoration: underline;
        	border-bottom-color: #804040; /* Цвет линии внизу */
        	overflow: hidden;
        }
        .openHierarchy{
        	font-weight: 600;
        	padding: 8px;
        	color: #000080;
        	text-decoration: none; /* убрано подчеркивание у ссылок */
        }
        .openHierarchy:visited {
        	color: #804040; /* Цвет посещённой ссылки */
        } 
        .openHierarchy:hover {
        	color: #0080c0; /* Цвет ссылки при наведении на нее курсора мыши */  
        	text-decoration: underline; /* добавлено подчеркивание */
        }
        .selectionTextQuote{
        	background: rgba(178, 178, 194, 0.35);
        	background-size:auto;
        	background-origin:padding-box;
        	padding: 7px;
        	border: 1px solid rgba(104, 22, 25, 0.27);
        	border-bottom-style: solid; /* Стиль линии внизу */
        	border-bottom-color: #515050; /* Цвет линии внизу */
        	overflow: hidden;
        	border-width: 2px 4px 2px 4px; /* Толщина границы */
        }
        .addReply , .deleterMessage{
        	font-weight: 600;
        	padding: 8px;
        	color: blue;
        	color: #000080; /* Цвет обычной ссылки */ 
        	text-decoration: none; /* Убираем подчеркивание у ссылок */
        }
        .addReply , .deleterMessage:visited {
        	color: #000080; /* Цвет посещённой ссылки */
        } 
        .addReply , .deleterMessage:hover {
        	color: #0080c0; /* Цвет ссылки при наведении на нее курсора мыши */  
        	text-decoration: underline; /* Добавляем подчеркивание */
        }
        .modal-content {
            position: absolute;
            background-color: #e9eaed;
            margin: auto;
            padding: 0;
            border: 5px solid #e9eaed;
            width: 30vw;
            height: 40vh;

            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        #close {
            float: right;
            font-weight: bold;
            font-size: larger;
       	 	color: rgb(68,68,68);
        	border: 1px solid rgba(0,0,0,.1); 
    		height: 22px;
        }

     	#close:hover{
	 		color: rgb(24,24,24);
  			border: 1px solid rgb(198,198,198);
  			background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  			box-shadow: 0 1px 2px rgba(0,0,0,.1);
		}

        .modal-header {
            padding: 2px 16px;
            background-color: #e9eaed;
            color: white;
            height: 25px;
            font-size: 11pt;
            resize: horizontal;
        }
        .modal-header-dragg {
        	outline: none;
        	padding: 5px 50px;
            position: fixed;
            background-color: #ffffff00;
            left: 40px;
            cursor: move;
            width: 250px;
            height: 20px;
            padding-right: 10px;
            padding-left: 20px;
            resize: horizontal;
        }
        .modal-body {
         	overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
            padding: 2px 16px;
            background-color: #e1e2e5;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 0.67rem; /* Размер шрифта в пунктах */
            height: 390px; /* Высота блока */
            overflow: scroll; /* Добавляем полосы прокрутки */
            border: 1px solid #333; /* Параметры рамки */
            font-weight: 590;
            font-style:normal;
            word-break: break-word;/*перенос на другую строку длинного слова*/     
        }
         @media (min-width:400px){
        	.modal-body{
        		font-size: 0.67rem;
        	}
        }
        
        .hr-dashed-vertical{
       	    border-left:2px dashed #808080;
       	    padding-left:7px;
       	    width:max-content;
			}
        .hr-dashed{
        	margin: 3px 0;
    		padding: 0;
    		height: 0;
    		border: none;
    		border-top: 2px dashed #808080;
        }
        .modal-footer {
        	position:relative;
            padding: 2px 16px;
            background-color: #e9eaed;
            color: white;
            resize: horizontal;
            
            
        }
        #btnOp {
        	float:left;
        	color: rgb(68,68,68);
        	border: 1px solid rgba(0,0,0,.1);       
        	height: 22px;
        }
        #btnOp:hover {
  			color: rgb(24,24,24);
  			border: 1px solid rgb(198,198,198);
  			background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  			box-shadow: 0 1px 2px rgba(0,0,0,.1);
		}
		.modalBlocker{
			top: 0;
    		left: 0;
    		position: fixed;
    		min-height: 100%;
   		 	min-width: 100%;
    		background-color: rgba(0, 0, 0, 0.5);
    		z-index: 99;
		}
		.show-modal{
			opacity: 1;
    		visibility: visible;
    		transform: scale(1.0);
    		transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
		}
		