#message {
    resize: vertical;
    cursor: text;
    display: block;
    width: 99%;
    height: 80px;
    margin: 0 auto;
    overflow: auto;
}

table.messages {
    border-spacing: 0 1em;
    width: 100%;
}

table.message-card {
    width: 100%;
    border-collapse: collapse;
}

.message-header {
    border-bottom: 1px solid #ccc;
}

.message-card-header {
    display: inline;
}

.private-message-label {
    margin: 4px;
}

.form-toggler {
    margin-left: 6px;
    color: gray;
    text-align: right;
    padding-right: 20px;
    text-decoration: underline;
}

.form-toggler span:hover {
    color: #990000;
}

.form-toggler span {
    cursor: pointer;
}
