.inputFileContainer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	width: 100%;
	min-width: 400px;
	color: #666666;
}
.inputFileContainer, .dropzone, .progressbar, .inputFileAttach {
	height: 26px;
	line-height: 26px;
}
.inputFileAttach {
	display: block;
	border: 1px solid #b9b9b9;
	cursor: pointer;
	width: 170px;
	font-weight: bold;
}
.dropzone.required .inputFileAttach {
	background: url("images/required.png") top right no-repeat;
}
.inputFileAttach:hover, .dropzone.required .inputFileAttach:hover {
	background: #e9e9e9;
}
.inputFileContainer img {
	margin: 0px 10px 0px 10px;
	vertical-align: middle;
}
.dropzone {
	border: 3px dotted white;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 1;
}
.dropzonehover {
	background: #cccccc;
}
.progressbar {
	border: 1px solid #b9b9b9;
	position: relative;
	overflow: hidden;
}
.progressbar .line {
	background-color: #e9e9e9;
	height: 26px;
}
.progressbar .status {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
}
.inputFileAttachButtonDiv {
	float: left;
}
.inputFileDelete {
	cursor: pointer;
}
.inputFileAjax {
	display: block;
	position: absolute;
	clip: rect(0,0,0,0);
}
