/* tables */
table.tablesorter {
    background-color: #FFFFFF;
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    white-space: nowrap;
}

table.tablesorter thead {
    border: none;
}

table.tablesorter th {
    background-color: #DDDDDD;
    color: Black
}

table.tablesorter thead tr .header {
    background: url("images/arrow_all.gif") no-repeat right center;
    background-color: #DDDDDD;
    color: Black
}

table.tablesorter thead tr .headerSortUp {
    background: url("images/arrow_asc.gif") no-repeat right center;
}
table.tablesorter thead tr .headerSortDown {
    background: url("images/arrow_desc.gif") no-repeat right center;
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #EEEEEE;
    color: Black
}

table.tablesorter th,
table.tablesorter td {
    padding: 6px 20px 6px 20px;
}

table.tablesorter td {
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #CCCCCC;
    padding: 7px 20px 7px 20px;
}

table.tablesorter th:nth-child(1),
table.tablesorter td:nth-child(1) {
    width: 10px;
}

table.tablesorter td:nth-child(1) {
    border-right: 1px solid #EEEEEE;
}

table.tablesorter td:nth-last-child(1) {
    border-right: none;
}

table.tablesorter td span.label {
    display: none;
}

table.tablesorter input[type=checkbox] {
    display: block;
    margin: 0px auto 0px auto;
}
