<?xml version="1.0" encoding="UTF-8"?>
<email-config>
 <headers>
   <param name="From" value="runafwe@localhost.ru"/>
 </headers>
 <connection>
   <param name="mail.transport.protocol" value="smtp"/>
   <param name="mail.host" value="localhost"/>
   <param name="mail.smtp.port" value="25"/>
 </connection>
</email-config>