api.auth.enabled=true
appName=com.sun.security.jgss.krb5.accept
moduleClassName=com.sun.security.auth.module.Krb5LoginModule
principal=HTTP/runaserver.test.com
storeKey=true
useKeyTab=true
keyTab=C:/runawfe/krb5.keytab
doNotPrompt=true
debug=true

# for web authentication only
http.auth.enabled=true
jcifs.http.enableNegotiate=true
sun.security.krb5.debug=true
jcifs.spnego.servicePrincipal=HTTP/runaserver.test.com
http.auth.preference=Kerberos

