<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>ntlmfilter</filter-name>
		<filter-class>ru.runa.af.web.filter.NTLMFilter</filter-class>
	</filter>
	<filter>
		<filter-name>session</filter-name>
		<filter-class>ru.runa.common.web.filter.HTTPSessionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>krbfilter</filter-name>
		<filter-class>ru.runa.af.web.filter.KrbFilter</filter-class>
	</filter>
	<filter>
		<filter-name>XSS</filter-name>
		<filter-class>ru.runa.common.web.filter.XSSFilter</filter-class>
	</filter>

	<!-- To use non XDoclet filter-mappings, create a filter-mappings.xml file 
		that contains the additional filter-mappings and place it in your project's 
		merge dir. -->
	<filter-mapping>
		<filter-name>ntlmfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>session</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>krbfilter</filter-name>
		<url-pattern>/krblogin.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>XSS</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>ru.runa.common.web.InitializeDBListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>freemarkerTagServlet</servlet-name>
		<servlet-class>ru.runa.wf.web.servlet.AjaxFormComponentServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ajaxcmdServlet</servlet-name>
		<servlet-class>ru.runa.wf.web.servlet.AjaxCommandServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>delegateTaskServlet</servlet-name>
		<servlet-class>ru.runa.wf.web.servlet.DelegateTaskServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>upload</servlet-name>            
		<servlet-class>ru.runa.wf.web.servlet.FileUploadServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>upload1095</servlet-name>
		<servlet-class>ru.runa.wf.web.servlet.Servlet1095</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>bulkUpload</servlet-name>            
		<servlet-class>ru.runa.wf.web.servlet.BulkUploadServlet</servlet-class>
	</servlet>
 
    <servlet>
		<servlet-name>getComponentInput</servlet-name>            
		<servlet-class>ru.runa.wf.web.servlet.GetComponentInputServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>version</servlet-name>            
		<servlet-class>ru.runa.wf.web.servlet.VersionServlet</servlet-class>
	</servlet>

	${enable.resteasy.start}
	<context-param>
		<param-name>resteasy.jndi.resources</param-name>
		<param-value>
			java:app/wfe-service-4.0.5/BotServiceBean!ru.runa.wfe.service.decl.BotServiceLocal
		</param-value>
	</context-param>
	<servlet>
		<servlet-name>resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>resteasy</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	${enable.resteasy.end}

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>freemarkerTagServlet</servlet-name>
		<url-pattern>/form.fp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ajaxcmdServlet</servlet-name>
		<url-pattern>/ajaxcmd</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>delegateTaskServlet</servlet-name>
		<url-pattern>/delegateTask</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>upload1095</servlet-name>
		<url-pattern>/upload1095</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>bulkUpload</servlet-name>
		<url-pattern>/bulkUpload</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>getComponentInput</servlet-name>
		<url-pattern>/getComponentInput</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>version</servlet-name>
		<url-pattern>/version</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/start.do</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/start.do</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error.do</location>
	</error-page>

	<error-page>
		<exception-type>ru.runa.wfe.security.AuthenticationException</exception-type>
		<location>/start.do</location>
	</error-page>

	<error-page>
		<exception-type>ru.runa.common.web.InvalidSessionException</exception-type>
		<location>/start.do</location>
	</error-page>

	<error-page>
		<exception-type>ru.runa.wfe.user.ExecutorDoesNotExistException</exception-type>
		<location>/manage_executors.do</location>
	</error-page>

	<error-page>
		<exception-type>ru.runa.wfe.definition.ProcessDefinitionDoesNotExistException</exception-type>
		<location>/manage_process_definitions.do</location>
	</error-page>

	<error-page>
		<exception-type>ru.runa.wfe.execution.ProcessDoesNotExistException</exception-type>
		<location>/manage_processes.do</location>
	</error-page>

	<error-page>
		<exception-type>ru.runa.wfe.task.TaskDoesNotExistException</exception-type>
		<location>/manage_tasks.do</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/error.do</location>
	</error-page>
	
	<session-config>
		<session-timeout>480</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
	</session-config>

</web-app>
