skipPatchV21Indexes = false

FK_RELATION_TO_EXECUTOR = FKA60D8D6B53B7396
FK_RELATION_FROM_EXECUTOR = FKA60D8D6B98B171C5
FK_RELATION_GROUP_ID = FKA60D8D6BCC25F5D4
IDX_RELATION_FROM_EXECUTOR = EXEC_REL_FROM_ID_IDX
IDX_RELATION_GROUP_ID = EXEC_REL_GROUP_ID_IDX
IDX_RELATION_TO_EXECUTOR = EXEC_REL_TO_ID_IDX
LOG_TOKEN_IDX = 
